@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body {
  padding: 0 40px;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f3f3f2;
  background-image: url(../public/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

input,
textarea,
select,
button {
  font: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}
